body{
  margin: 0;
}
.App {
  text-align: center;
}
.form-container {
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 5%;

}

.form-group {
  margin-bottom: 20px 50px;
  width: 400px;
  text-align: left;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="email"], button {
  width: 10px, 50%; 
  position: 10px, 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100%;
}

.container {
  vertical-align: top;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #666;
  box-sizing: border-box;
  margin-left:0;
  margin-right: 0%;
}
/* .left {
  text-align: left;
}

.right {
  text-align: right;
} */

.data-row {
  background-color: #f9f9f9;
  padding: 10px;
}

.light-row {
  background-color: #f9f9f9;
}

.dark-row {
  background-color: #383434;
}

/* .react-crud {
  background-color: black;
  color: #666;
  display: flex;
  justify-content: space-between;
  }
  
  .react-crud p {
    margin: 0;
  } */
  .icons{
    cursor: pointer;
  }